*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, arial;
    text-align: center;
}

.negativo{
    background-color: red;
}

.bienvenida{
    text-align: center;
    padding-inline: 20%;
    padding-block: 5%;
}

header{
    /* color:#aeaae8; */
    color:#4e3a23;
    font-size: 2.5rem;
    font-family: 'inconsolata';
}

header h1{
    text-decoration-line: underline;
}

.header2{
    text-align: left;
    margin-left: -40%;
    margin-top: 1.6rem;
    color: gold;
}
body{
    background-image: url("/static/img/background.jpg");
    background-blend-mode: color-burn;
    background-color: #4766ec;
    min-height: 100%;
    position: relative;
}

.checkbox{
width: 1.5rem;
height: 1.5rem;
}

button{
    margin: .85rem;
    padding: 0.21rem 0.5rem;
    border-radius: 1.6rem;
    font-size: 1.6rem;
    text-align: center;
    transition-duration: 1.5s;
    background: #2BF927;
    color: #000;
}

button:hover{
    background-color: #000;
    color: #2BF927;
}

.btn-comentarios, select,[type=file] button {
    margin: .5rem;
    padding: 0.1rem 0.3rem;
    border-radius: 1.6rem;
    font-size: 1.2rem;
    text-align: center;
    transition-duration: 1s;
    background: #ffa500;
    color: #000;
}

.btn-comentarios:hover{
    background: #000;
    color:#ffa500 ;
}

p{
    font-family: 'monserrat';
    color: rgb(46, 2, 42);
    font-size: 1rem;
    padding: 3,4rem;
}


footer{
    background-color: rgb(10, 3, 6);
    text-align: right;
    padding-right: 5%;
}
footer h1{
    display: inline-block;
    color: white;
}
footer a{
    color: chartreuse;
}

.contribucion{
    text-align: right;
    font-size:x-small;
}

table{
    margin: auto;
    margin-top: 2.5rem;
    padding: 1.6rem;
    border-style: double;
    border-color: black;
    width: 90%;
    border-collapse: collapse;
    border: 5px solid;
}

th{
    border: black double;
    border-width: 1px ;
    font-size: 1.6rem;
}

td{
    border: black solid;
    border-width: 1px ;
    padding: .7rem;
    font-size: 1.4rem;
}

input, textarea{
    border-radius: 7px;
    font-size: 1.3rem;
    max-width: 34rem;
}


form div{
    border: black dotted 2px;
    max-width: auto;
    display: inline-block;
    margin-block: 3px;
    border-radius: 10px;
    padding: 0rem;
    font-size: 1.5rem;
    vertical-align: middle;
}


[type="submit"]{
    background-color: rgb(131, 187, 240);
}


@media only screen and (max-width: 700px){

    table, tr, td, th{
        font-size: .6rem;
    }

    
    h1{
        font-size: 2.3rem;
    }

p{
    font-size: 1.1rem;
}
.estrella{
    width: .8rem;
}
.header2{
    margin-left:20%;

}
.header2 div{
    font-size: 1.2rem;
    display: inline;
    vertical-align: top;

}
}