*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --red: #cc0033;
  --white-blue: #4fa8c2;
  --white: #dfdde1;
  --black: #1b1c1e;
  --orange: #d97441;
  --yellow: #d29849;
}

body {
  background: var(--black);
  color: var(--white);
  width: 100%;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Oswald, Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

.full-width {
  width: 100%;
}

.min-width {
  width: 50%;
}

.button {
  position: relative;
  display: inline-block;
  height: 60px;
  padding: 0 35px;
  background-color: var(--red);
  color: var(--white);
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
}

/* ------------------------------------NAVBAR STYLES-------------------------------------- */

.nav-bg {
  padding: 15px;
  background: var(--red);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: row;
}

.nav-list li {
  font-weight: 700;
  margin-right: 20px;
}

.nav-list .list-item .nav-link i {
  fill: var(--black);
}

/* ------------------------------------FORM LOGIN STYLES-------------------------------------- */
.box-content-view {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.img-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-content-view .box-half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  float: left;
  width: 50%;
  height: 100vh;
  padding: 35px;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.box-content-view .box-top {
  text-align: center;
}

.box-content-view .box-center {
  text-align: center;
}

.box-login {
  width: 430px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.box-content-view .box-bottom {
  text-align: center;
  line-height: 20px;
}

.box-login .box-form-fields .side.right {
  float: none;
  width: 100%;
}

.box-login .box-form-fields .side {
  /*  margin-bottom: 20px; */
  line-height: 60px;
  text-align: left;
}

.form-group {
  position: relative;
  display: block;
}

.box-form-fields .text-input {
  width: 100%;
}

.text-input {
  display: block;
  height: 40px;
  padding: 0 15px;
  transition: all 0.3s ease-in-out;
}

.box-form-fields .side {
  margin: 7px 0;
}

.box-login button {
  margin-top: 30px;
}

.full-width {
  width: 100%;
}

.button {
  position: relative;
  display: inline-block;
  height: 60px;
  padding: 0 35px;
  background-color: var(--red);
  color: var(--white);
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
}

.button span {
  text-transform: uppercase;
}

.box-content-view .box-bottom {
  text-align: center;
  line-height: 23px;
}
/* ----------------------------------------------------------------------------------------------- */

/* ----------------------------------------TABLE STYLES------------------------------------------- */
/* .wrapper {
  width: 100%;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.row ul {
  margin: 0;
  padding: 0;
}

.row ul li {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  width: 20%;
}

.title ul li {
  padding: 15px;
}

.row ul li {
  padding: 5px 10px;
}

.row {
  height: 75px;
  font-size: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-out;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.article-list:hover {
  background-color: rgba(26, 26, 26, 0.9);
}

.title {
  height: 75px;
  background-color: rgba(255, 255, 255, 0.1);
}

.row-wrapper {
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-out;
  animation: fadeOut 0.4s ease-out 8s 1 alternate;
  animation-fill-mode: forwards;
  opacity: 1;
  height: 75px;
}

.button .ver {
  background-color: var(--white-blue);
}

.button .editar {
  background-color: var(--white-blue);
}
 */
/* 
ul.more-content li {
  position: relative;
  top: 22px;
  font-size: 13px;
  margin: 0;
  padding: 10px 13px;
  display: block;
  height: 50px;
  width: 100%;
  color: rgba(128, 128, 128, 0.9);
}
 */
/* ----------------------------------------------------------------------------------------------- */

/* ---------------------------------------GRID CARDS STYLES--------------------------------------- */

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  /* padding: 15px; */
}

.card-grid-space {
  margin-top: 10px;
}

.flip-card-container {
  width: 310px;
  height: 400px;
}

/* .flip-card */
.flip-card {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s 0.1s;
}

.num {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* .card-front */
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

/* .card-back */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* figure */
.figura {
  z-index: -1;
}

/* figure, .img-bg */
.figura,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* figcaption */
.back-caption {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  font-weight: bold;
  line-height: 1.6;
  color: var(--white);
}
