<!DOCTYPE html>
<html lang="es" title="Spanish">
  <head>
    <link rel="icon" type="image/vnd.microsoft.icon" href=".ico" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resto Billing | {% block titulo %}{% endblock %}</title>
    <script
      src="https://kit.fontawesome.com/d01d968878.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/ae4e6e12c6.js"
      crossorigin="anonymous"
    ></script>
    <!--  <link
      rel="stylesheet"
      href="{{ url_for ('static', filename= 'bootstrap.css') }}"
    /> -->
    <link
      rel="stylesheet"
      href="{{ url_for ('static', filename= 'vistas.css') }}"
    />
    <script src="/static/bootstrap.js"></script>
    <script src="/static/sistema.js"></script>
  </head>

  <body>
    {% if "username" in session %}
    <nav class="navbar top-fix nav-bg">
      <div class="nav-container">
        <a class="nav-brand" href="/"><h2>Resto Billing</h2></a>

        <div class="main-nav">
          <ul class="nav-list">
            <li class="list-item">
              <a
                class="nav-link {{'active' if active_page == 'mesas' }}"
                href="/mesas"
              >
                Mesas
              </a>
            </li>
            <li class="list-item">
              <a
                class="nav-link {{'active' if active_page == 'ventas' }}"
                href="/ventas"
              >
                Historial
              </a>
            </li>
            <li class="list-item">
              <a
                class="nav-link {{'active' if active_page == 'administracion' }}"
                href="/administracion"
              >
                Administración
              </a>
            </li>
            <li class="list-item">
              <a class="nav-link" href="/logout"
                ><i class="fa-light fa-arrow-right-to-bracket"></i> Cerrar
                sesión</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <header>
        <h2 class="my-3">{% block header %} {% endblock %}</h2>

        {% block producto %} {% endblock %}
      </header>
      {% endif %} {% with messages= get_flashed_messages() %} {% if messages %}
      <div class="alert alert-danger" role="alert">
        {% for message in messages %} {{message}} {% endfor %}
      </div>
      {% endif %} {% endwith %}
      <main>{% block main %} {% endblock %}</main>
    </div>
  </body>
</html>
