{% extends "base.html" %}

{% set active_page = 'inicio' %}

{% block titulo %}
    Login
{% endblock %}



{% block header %}
    {% if "username" not in session %}
        Ingresá tus datos para empezar
    {% else %}
        Ya te has autenticado
    {% endif %} 
{% endblock %}

{% block main %}
    {% if "username" not in session %}
        <div class="container">
            <form action="/ingresar" method="post" enctype="multipart/form-data">
                <div class="row my-2">
                    <div class="col-1"><label for="txtUsuario">Usuario: </label></div>
                    <div class="col-2"><input type="text" name="txtUsuario" id="txtUsuario"></div>
                </div>
                <div class="row my-2">
                    <div class="col-1"><label for="txtPassword">Contraseña: </label></div>
                    <div class="col-2"><input type="password" name="txtPassword" id="txtPassword"></div>
                </div>
                <div class="row my-2">
                    <div class="col-3"><input type="submit" value="Ingresar" class="btn btn-outline-primary"></div>
                </div>
            </form>
        </div>
    {% endif %}        
{% endblock %}
