{% extends "/base.html" %} {% set active_page = 'mesas' %} {% block titulo
%}Mesas{% endblock %} {% block header %}Mesas{% endblock %} {% block main %}
<section class="cards-wrapper">
  {% for mesa in mesas %}
  <div class="card-grid-space">
    <div class="flip-card-container">
      <input
        type="checkbox"
        id="{{mesa[0]}}"
        class="details"
        aria-hidden="true"
      />
      <div class="flip-card">
        <div class="card-front">
          <div class="num">
            <h4>MESA N°{{mesa[0]}}</h4>
          </div>
          <figure class="figura">
            <div class="img-bg">
              <img
                src="https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=450&w=340"
                alt="mesa de madera"
              />
            </div>
          </figure>
          <label for="{{mesa[0]}}" class="button-small" aria-hidden="true">
            Ver Pedidos
          </label>
        </div>
        <div class="card-back">
          <figure class="figura">
            <div class="img-bg"></div>
            <figcaption class="back-caption">
              <h4>PEDIDOS DE MESA N°{{mesa[0]}}</h4>
            </figcaption>
          </figure>
          <ul>
            {% for it in mesa[1] %}
            <li>
              <strong>Platos: </strong>{{it[0]}}........
              <strong> $ {{it[1]}}</strong>
            </li>
            {% endfor %}
          </ul>
          <div class="total-price"><strong>Total: </strong> $ {{mesa[2]}}</div>
          <div class="button-wrap">
            <a href="../platos/{{mesa[0]}}">
              <button class="button-editar">
                <i class="fi fi-sr-pencil"></i>
              </button>
            </a>
            {% if mesa[2] >0 %}
            <a href="/cerrar_cuenta/{{mesa[0]}}"
              ><button class="button-small">
                <i class="fi fi-sr-receipt"></i></button
            ></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
