{% extends "/base.html" %} {% set active_page = 'mesas' %} {% block titulo
%}Mesas{% endblock %} {% block header %}Mesas{% endblock %} {% block main %}
<section class="cards-wrapper">
  {% for mesa in mesas %}
  <div class="card-grid-space">
    <div class="flip-card-container">
      <div class="flip-card">
        <div class="card-front">
          <div class="num">
            <h4>MESA N°{{mesa[0]}}</h4>
          </div>
          <figure class="figura">
            <div class="img-bg">
              <img
                src="https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=450&w=340"
                alt=""
              />
            </div>
          </figure>
          {% if mesa[1]|length == 0 %}
          <button id="show-back" class="button min-width ver">VER</button>
          {% endif %} {% if mesa[1]|length > 0 %}
          <span>Mesa Disponible</span>
          <button id="show-back" class="button min-width ver">VER</button>
          {% endif %}
        </div>
        <div id="{{mesa[0]}}" class="card-back">
          <figure class="figura">
            <div class="img-bg"></div>
            <figcaption class="back-caption">
              <h4>PEDIDOS DE MESA N°{{mesa[0]}}</h4>
            </figcaption>
          </figure>
          {% for it in mesa[1] %}
          <ul>
            <li><strong>Platos: </strong>{{it[0]}}</li>
            <li><strong>Sub-Total: </strong>$ {{it[1]}}</li>
          </ul>
          {% endfor %}
          <div><strong>Total: </strong> $ {{mesa[2]}}</div>
          <a href="../platos/{{mesa[0]}}">
            <button class="button editar">Editar Pedido</button>
          </a>
          {% if mesa[2] >0 %}

          <a href="/cerrar_cuenta/{{mesa[0]}}"
            ><button class="button editar">Cerrar cuenta</button></a
          >
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
