{% extends "base.html" %} {% set active_page = 'mesas' %} {% block titulo
%}Platos{% endblock %} {% block header %}Modificar pedido de mesa {{mesa}}{%
endblock %} {% block main %}
<div>
  <form action="/cargarPedido/{{mesa}}" method="post" id="cantidad">
    <div class="container mt-3">
      <div class="row my-2 fw-bold">
        <div class="col">Foto</div>
        <div class="col">Nombre</div>
        <div class="col">Descripción</div>
        <div class="col">Precio</div>
        <div class="col">Acciones</div>
      </div>
      {% for plato in platos %}
      <div class="row">
        <div class="col">
          <img width="100px" src="../fotos/{{plato[4]}}" alt="{{plato[4]}}" />
        </div>
        <div class="col"><u>{{plato[1]}}</u></div>
        <div class="col">{{plato[2]}}</div>
        <div class="col">$ {{plato[3]}}</div>
        <div class="col">
          <select form="cantidad" name="{{plato[1]}}" id="{{plato[0]}}">
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
            <option value="0" selected>0</option>
            <option class="negativo" value="-1">-1</option>
            <option class="negativo" value="-2">-2</option>
            <option class="negativo" value="-3">-3</option>
            <option class="negativo" value="-4">-4</option>
            <option class="negativo" value="-5">-5</option>
          </select>
        </div>
      </div>
      {% endfor %}
    </div>
    <input type="submit" value="cargar" />
  </form>
</div>
{% endblock %}
