{% extends "base.html" %}

{% set active_page = 'mesas' %}

{% block titulo %}
Resumen
{% endblock %}

{% block header %}
Resumen
{% endblock %}


{% block main %}
<div class="container mt-3">
    <div class="row my-2 fw-bold">
        <div class="col">Producto</div>
        <div class="col">Valor</div>
    </div>
    <div class="row">
        {% for it in resumen[:-1] %}
        <div class="col">{{it[0]}}:{{it[1]}}</div>
        <div class="col">$ {{it[2]}}</div>
        {% endfor %}
    </div>
</div>

<table>
    <thead>
        <td>Producto</td>
        <td>Valor</td>
    </thead>
    <tbody>
        {% for it in resumen[:-1] %}
        <tr>
            <td> {{it[0]}}:{{it[1]}}</td>
            <td>$ {{it[2]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="total"><h2>TOTAL= $ {{resumen[-1]}}</h2></div>
 <br>




{% endblock %}